body{
    background-color: rgb(114, 207, 238);
}

h1{
    font-family: 'Lobster', cursive;
    color: rgb(169, 141, 107);
    background-color: rgb(254, 223, 194);
    padding: 20px;
    width: fit-content;
    border-radius: 75px;
}

ul{
    display: flex;
    padding: 2px;
    justify-content: flex-start;
    font-family: 'Lobster Two', cursive;
}

li{
    margin: .05%;
    padding: 2%;
    list-style: none;
}

nav{
    background-color: rgb(53, 109, 230);
    padding: 0.1%;
    width: 100%;
}

a:link{
    color: rgb(221, 205, 205);
    font-family: 'Lobster Two', cursive;
}
a:hover{
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#MainNav {
    display: flex;
    justify-content: flex-start;
}

#home{
    margin-inline-start: 10px;

}

a{
    text-decoration: none;
}

/* Dropdown MenuBar*/

.dropdown-menu{
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(52, 38, 22);
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10px;
    position: absolute;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
}

@media only screen and (max-width: 768px){
    ul {
        flex-direction: column;
    }

}

/* Main Text */
@keyframes example {
    0% {left:0px; top:0px;}
    25% {left:200px; top:0px;}
    50% {left:200px; top:200px;}
    75% {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

#Mens {
    width: 350px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

#Men{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}h3, h4 {
    font-family: 'Lobster', cursive;
}

p{
    font-family: 'Lobster Two', cursive;
}