.site-hero{
    height: 80vh;
    background-image: url("../assets/branding/wood_bkgrnd.jpg");  
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-text{
    font-family: 'Lobster' ;
    font-size: xx-large;
    color: antiquewhite;
    text-align: center;
    text-shadow: rgb(47, 107, 98) 6px 8px;
}
