/* stylelint-disable selector-list-comma-newline-after */
#icon{
  background-image: url("../assest/branding/foxtail_logos-01.png");
  width: 150px;
}
.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Lobster" cursive ;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}



h1, h2, h3, h4, h5, h6, #Title {
  font-family: 'Lobster Two', cursive;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

#BClr{
  background-color: #e1a177;
}
.p-2 link-secondary{
  color: #000;
}

p{
  font-family: 'Montserrat', sans-serif;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */

 #footer{
  display: inline;
 }

.blog-footer {
  padding: 2.5rem 0;
  color: #2e2d2d;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}